# SQL Murder Mystery!
Adapted By: Martin Arroyo

![Detective making connections between points](https://github.com/freestackinitiative/coop_sql_notebooks/blob/v2/assets/sleuth.png?raw=1)

**Credit**

This material was adapted from the [SQL Murder Mystery by Knight Lab](https://mystery.knightlab.com/) under [Creative Commons CC BY-SA 4.0](https://creativecommons.org/licenses/by-sa/4.0/). The SQL Murder Mystery was originally created by [Joon Park](https://twitter.com/joonparkmusic) and [Cathy He](https://twitter.com/Cathy_MeiyingHe) while they were Knight Lab fellows. See the [GitHub repository](https://github.com/NUKnightLab/sql-mysteries) for more information.

## Scenario

A crime has taken place and detectives need your help! You were given the crime scene report, but you somehow lost it. You vaguely remember that the crime was a `​murder`​ that occurred sometime on `​January 15, 2018`​ and that it took place in ​`SQL City`​. It is up to you to find out who the murderer is using just your SQL skills and resourcefulness. You are given a connection to the Police Department's database which has all of the clues you'll need to track down the killer.

Use the skills you developed in SQL 101 and 102, along with any resources you like, to solve the `SQL Murder Mystery`!

## Connect to the Police Department Database

To get started and run your queries, press play in the cell below to connect to the Police Department database.

To run queries, create a new `Code` cell and write `%%sql` at the top of it. Then you can write your queries underneath. See the example below:
```python
%%sql

SELECT *
FROM table

```

In [1]:
%%capture --no-stderr
# @title Press Play { display-mode: "form" }
# Install `teachdb` and `coop_grader`
print("Installing `teachdb` and its dependencies...")
%pip install --quiet --upgrade git+https://github.com/freestackinitiative/teachingdb.git git+https://github.com/martinmarroyo/coop_grader.git
print("Successfully installed `teachdb`")
from teachdb.teachdb import connect_teachdb
from coop_grader.sql_murder_mystery.check_suspect import check_suspect
# Set configurations for notebook & load data
con = connect_teachdb(database="sql_murder_mystery")

%sql con

## Discovering tables in the database

We start our quest to find the murderer by exploring the Police Department database. But you haven't seen the database yet, and you don't know what the tables are, so how do you know what to look for?

Thankfully, most relational database management systems have this information stored in a place where you can query it. Very often, a special schema known as the [`information_schema`](https://en.wikipedia.org/wiki/Information_schema) is used to store information about the tables and columns in your database (aka metadata.) The police department's database has an information schema, with the `tables` view showing you what tables are available, and the `columns` view which shows you all the columns for each table and their data types.

### Listing all the tables in the Police Database

#### Check the [`information_schema.tables` description](https://duckdb.org/docs/sql/information_schema.html#tables-and-views)

First, we'll look at all the tables available to us by checking the `information_schema.tables` view. We'll give you the first query to start, but from here on out you will have to come up with the remaining queries using your SQL knowledge and your resourcefulness.

Here is the query that is needed to show you the tables in the Police Department Database. Copy/Paste it into the cell below and run it to see the tables available to you:

>```sql
>SELECT *
>FROM information_schema.tables
>```

In [2]:
%%sql


SELECT *
FROM information_schema.tables

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action,TABLE_COMMENT
0,memory,main,crime_scene_report,BASE TABLE,None,None,None,None,None,YES,NO,None,None
1,memory,main,drivers_license,BASE TABLE,None,None,None,None,None,YES,NO,None,None
2,memory,main,facebook_event_checkin,BASE TABLE,None,None,None,None,None,YES,NO,None,None
3,memory,main,get_fit_now_check_in,BASE TABLE,None,None,None,None,None,YES,NO,None,None
4,memory,main,get_fit_now_member,BASE TABLE,None,None,None,None,None,YES,NO,None,None
5,memory,main,income,BASE TABLE,None,None,None,None,None,YES,NO,None,None
6,memory,main,interview,BASE TABLE,None,None,None,None,None,YES,NO,None,None
7,memory,main,person,BASE TABLE,None,None,None,None,None,YES,NO,None,None

### Listing all the tables and their columns in the Police Database

**Check the [`information_schema.columns` description](https://duckdb.org/docs/sql/information_schema.html#columns)**

Great! Now that you know what tables are available, it's time to find out the columns that each table has along with the data type of each column. Write a query that shows the table name, column name, and data type for each table in the Police Department database using the `information_schema.columns` view. Make sure that the output is ordered by table, then column name (ascending):

*Optional hints - try to only use them if you get **REALLY** stuck!*

<details>
<summary>Hint 1</summary>
<p>Structure your query just like we did in the previous one where we looked at `information_schema.tables`</p>
</details>

<details>
<summary>Hint 2</summary>
<p>Make sure to check the link for the information_schema.columns description! It will tell you the column names that you should use for the query. Remember, we want the table name, column name, and data type - check the description to find the appropriate names!</p>
</details>

<details>
<summary>Hint 3</summary>
<p>Don't forget to use the ORDER BY statement to order your search results. We are looking to sort both columns in ascending order, which can be specified using the ASC keyword, however, it is also the default sort order, so ASC is not necessarily required.</p>
</details>

In [6]:
%%sql

SELECT *
FROM information_schema.columns
ORDER BY table_name, column_name

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,numeric_precision,numeric_precision_radix,numeric_scale,datetime_precision,interval_type,interval_precision,character_set_catalog,character_set_schema,character_set_name,collation_catalog,collation_schema,collation_name,domain_catalog,domain_schema,domain_name,udt_catalog,udt_schema,udt_name,scope_catalog,scope_schema,scope_name,maximum_cardinality,dtd_identifier,is_self_referencing,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable,COLUMN_COMMENT
0,memory,main,crime_scene_report,city,4,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
1,memory,main,crime_scene_report,date,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
2,memory,main,crime_scene_report,description,3,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
3,memory,main,crime_scene_report,type,2,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
4,memory,main,drivers_license,age,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
5,memory,main,drivers_license,car_make,8,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
6,memory,main,drivers_license,car_model,9,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
7,memory,main,drivers_license,eye_color,4,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
8,memory,main,drivers_license,gender,6,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
9,memory,main,drivers_license,hair_color,5,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
10,memory,main,drivers_license,height,3,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
11,memory,main,drivers_license,id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
12,memory,main,drivers_license,plate_number,7,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
13,memory,main,facebook_event_checkin,date,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
14,memory,main,facebook_event_checkin,event_id,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
15,memory,main,facebook_event_checkin,event_name,3,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
16,memory,main,facebook_event_checkin,person_id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
17,memory,main,get_fit_now_check_in,check_in_date,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
18,memory,main,get_fit_now_check_in,check_in_time,3,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
19,memory,main,get_fit_now_check_in,check_out_time,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
20,memory,main,get_fit_now_check_in,membership_id,1,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
21,memory,main,get_fit_now_member,id,1,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
22,memory,main,get_fit_now_member,membership_start_date,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
23,memory,main,get_fit_now_member,membership_status,5,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
24,memory,main,get_fit_now_member,name,3,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
25,memory,main,get_fit_now_member,person_id,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
26,memory,main,income,annual_income,2,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
27,memory,main,income,ssn,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
28,memory,main,interview,person_id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
29,memory,main,interview,transcript,2,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
30,memory,main,person,address_number,4,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
31,memory,main,person,address_street_name,5,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
32,memory,main,person,id,1,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
33,memory,main,person,license_id,3,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
34,memory,main,person,name,2,None,YES,VARCHAR,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None
35,memory,main,person,ssn,6,None,YES,INTEGER,<NA>,<NA>,32,2,0,<NA>,None,<NA>,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,<NA>,None,<NA>,<NA>,None,None,None,None,None,<NA>,None,None,<NA>,None

### Entity Relationship Diagram (Optional)

After doing some detective work and finding the tables in the Police Department database, you discover that there is an ERD! This can be really helpful in your quest to find the murderer. If you like, challenge yourself (and your SQL skills) to continue on by just querying the `information_schema` as needed. Otherwise, you can click the dropdown below to reveal the ERD to help you see the tables and relationships in the Police Department database at a glance:

<details>
  <summary>Check the SQL Murder Mystery ERD</summary>
  <img src="https://github.com/freestackinitiative/coop_sql_notebooks/blob/v2/assets/murder_mystery_schema.png?raw=1" alt="ERD for SQL Murder Mystery"/>
</details>

## Beginning your investigation

Start by retrieving the corresponding crime scene report from the police department’s database.

<details>
<summary>Clue #1</summary>
<p>Look at the tables available in the Police Department database. Could the crime scene report be in there?</p>
</details>

<details>
<summary>Clue #2</summary>
<p>The murder occured on January 15, 2018 in SQL City. Perhaps filtering your query with this information can help you find that crime report you're looking for...</p>
</details>

In [21]:
%%sql

SELECT description FROM crime_scene_report
WHERE date = 20180115 AND type = 'murder' AND city = 'SQL City'

                                                                                          description
0  Security footage shows that there were 2 witnesses. The first witness lives at the last house o...

In [74]:
%%sql

SELECT * from person
WHERE address_street_name = 'Northwestern Dr'

,id,name,license_id,address_number,address_street_name,ssn
0,10010,Muoi Cary,385336,741,Northwestern Dr,828638512
1,12711,Norman Apolito,667757,599,Northwestern Dr,778264744
2,14887,Morty Schapiro,118009,4919,Northwestern Dr,111564949
3,15171,Weldon Penso,336999,311,Northwestern Dr,131379495
4,17729,Lasonya Wildey,439686,3824,Northwestern Dr,917817122
5,18376,Josh Shi,653712,1091,Northwestern Dr,193899001
6,19420,Cody Schiel,890431,3524,Northwestern Dr,947110049
7,22239,Dusty Sigafus,710517,1125,Northwestern Dr,724386723
8,23044,Val Portlock,924989,3143,Northwestern Dr,100593316
9,23960,Kristopher Lagerberg,658777,1392,Northwestern Dr,492912529
10,25615,Olevia Morena,388477,812,Northwestern Dr,962831331
11,26758,Angelena Billman,942074,629,Northwestern Dr,341854756
12,28360,Rashad Cascone,924517,3212,Northwestern Dr,838907424
13,29608,Willetta Lurvey,800568,1028,Northwestern Dr,843751378
14,33415,Homer Simpson,108392,981,Northwestern Dr,871392019
15,34155,Allyson Lazenson,814209,2840,Northwestern Dr,991150469
16,34352,Vincenza Burkhardt,436470,2512,Northwestern Dr,197913046
17,36378,Freddie Ellzey,267882,3449,Northwestern Dr,474117596
18,39688,Abe Roeker,537445,689,Northwestern Dr,438969447
19,40336,Fredia Billeter,251082,404,Northwestern Dr,108056488
20,40760,Renata Faver,976650,745,Northwestern Dr,547572040
21,44004,Alison Eska,327797,2951,Northwestern Dr,306417867
22,44542,Ivory Mcgrevey,873842,897,Northwestern Dr,988557407
23,51114,Christena Saffell,814284,3055,Northwestern Dr,247657547
24,51552,Bonita Knie,764124,1726,Northwestern Dr,597137908
25,53076,Boris Bijou,664914,3327,Northwestern Dr,401191868
26,53699,Christian Pagano,628433,2585,Northwestern Dr,644772304
27,53890,Sophie Tiberio,957671,3755,Northwestern Dr,442830147
28,54564,Sammie Sengun,217286,2590,Northwestern Dr,848854310
29,55130,Shiloh Huntoon,472118,951,Northwestern Dr,826647644
30,59307,Cyril Yongue,753524,2903,Northwestern Dr,866057839
31,68690,Yer Modest,852404,3046,Northwestern Dr,419238039
32,70485,Andera Kostelecky,354822,1252,Northwestern Dr,787423012
33,71924,Laurie Scronce,774116,1418,Northwestern Dr,254883636
34,72076,Courtney Bordeaux,324614,1707,Northwestern Dr,347966356
35,73368,Torie Thalmann,773862,3697,Northwestern Dr,341559436
36,75484,Del Tacderen,447887,607,Northwestern Dr,243821337
37,80921,Donovan Yackley,222395,2386,Northwestern Dr,515049359
38,81052,Calvin Czelusniak,471483,1516,Northwestern Dr,657531837
39,81885,Kurtis Masuda,934201,2108,Northwestern Dr,201272595
40,85280,Donn Duin,569122,540,Northwestern Dr,613873810
41,87456,Leonora Wolfsberger,215868,3483,Northwestern Dr,565203106
42,88423,Teri Ehrich,510876,1879,Northwestern Dr,248637345
43,89906,Kinsey Erickson,510019,309,Northwestern Dr,635287661
44,90397,Dionna Kranwinkle,797260,2678,Northwestern Dr,278964807
45,93509,Emmitt Aceuedo,916706,3491,Northwestern Dr,979073160
46,96178,Galina Khuu,450248,2183,Northwestern Dr,398518185
47,96595,Coretta Cubie,303645,3631,Northwestern Dr,378403829
48,98593,Jonah Toner,578982,2947,Northwestern Dr,745853548
49,99826,Ivy Kazarian,994470,892,Northwestern Dr,208359813

In [111]:
%%sql

WITH nw_drive_residents AS
(
  SELECT id, name FROM person
  WHERE address_street_name = 'Northwestern Dr'
),
relev_info AS
(
  SELECT B.name, A.person_id, A.transcript FROM interview AS A
  JOIN nw_drive_residents AS B
  ON A.person_id = B.id
)
SELECT * FROM relev_info

,name,person_id,transcript
0,Teri Ehrich,88423,"sea, some children digging in the sand with wooden spades, then a row\n"
1,Vincenza Burkhardt,34352,"Poor Alice! It was as much as she could do, lying down on one side, to\n"
2,Weldon Penso,15171,"the verses to himself: ‘“WE KNOW IT TO BE TRUE--” that’s the jury, of\n"
3,Coretta Cubie,96595,"head in the lap of her sister, who was gently brushing away some dead\n"
4,Courtney Bordeaux,72076,"see: four times five is twelve, and four times six is thirteen, and\n"
5,Rashad Cascone,28360,"for apples, yer honour!’\n"
6,Del Tacderen,75484,"‘We had the best of educations--in fact, we went to school every day--’\n"
7,Olevia Morena,25615,when I learn music.’\n
8,Angelena Billman,26758,"Will you, won’t you, will you, won’t you, won’t you join the dance?\n"
9,Abe Roeker,39688,"‘Hold your tongue!’ said the Queen, turning purple.\n"
10,Donovan Yackley,80921,\n
11,Yer Modest,68690,\n
12,Christena Saffell,51114,"‘So you did, old fellow!’ said the others.\n"
13,Norman Apolito,12711,\n
14,Kristopher Lagerberg,23960,"This was quite a new idea to Alice, and she thought it over a little\n"
15,Fredia Billeter,40336,"stretched her arms round it as far as they would go, and broke off a bit\n"
16,Donn Duin,85280,verse.’\n
17,Laurie Scronce,71924,"interrupted: ‘UNimportant, your Majesty means, of course,’ he said in a\n"
18,Torie Thalmann,73368,doesn’t suit my throat!’ and a Canary called out in a trembling voice to\n
19,Morty Schapiro,14887,"I heard a gunshot and then saw a man run out. He had a ""Get Fit Now Gym"" bag. The membership nu..."

In [94]:
%%sql

WITH nw_drive_residents AS
(
  SELECT id, name FROM person
  WHERE address_street_name = 'Northwestern Dr'
),
relev_info AS
(
  SELECT B.name, A.person_id, A.transcript FROM interview AS A
  JOIN nw_drive_residents AS B
  ON A.person_id = B.id
)
SELECT * FROM relev_info
WHERE name = 'Morty Schapiro'

,name,person_id,transcript
0,Morty Schapiro,14887,"I heard a gunshot and then saw a man run out. He had a ""Get Fit Now Gym"" bag. The membership nu..."

In [28]:
%%sql

SELECT * from person
WHERE address_street_name = 'Franklin Ave'
AND name LIKE 'Annabel%'
LIMIT 5

,id,name,license_id,address_number,address_street_name,ssn
0,16371,Annabel Miller,490173,103,Franklin Ave,318771143

In [39]:
%%sql

SELECT transcript FROM interview
WHERE person_id =
  (
    SELECT id AS second_witness_id FROM person
    WHERE address_street_name = 'Franklin Ave'
    AND name LIKE 'Annabel%'
  )

                                                                                           transcript
0  I saw the murder happen, and I recognized the killer from my gym when I was working out last we...

In [46]:
%%sql

SELECT * FROM get_fit_now_member
WHERE person_id =
  (
    SELECT id AS second_witness_id FROM person
    WHERE address_street_name = 'Franklin Ave'
    AND name LIKE 'Annabel%'
  )

      id  person_id            name  membership_start_date membership_status
0  90081      16371  Annabel Miller               20160208              gold

In [53]:
%%sql

SELECT * FROM get_fit_now_check_in
WHERE check_in_date = 20180109
AND check_out_time >= 1530
ORDER BY check_in_time DESC

  membership_id  check_in_date  check_in_time  check_out_time
0         48Z7A       20180109           1600            1730
1         90081       20180109           1600            1700
2         48Z55       20180109           1530            1700

In [151]:
%%sql

SELECT B.name, B.person_id FROM get_fit_now_check_in AS A
JOIN get_fit_now_member AS B
ON A.membership_id = B.id
WHERE check_in_date = 20180109
AND check_out_time >= 1530
ORDER BY check_in_time DESC

             name  person_id
0    Joe Germuska      28819
1  Annabel Miller      16371
2   Jeremy Bowers      67318

In [73]:
%%sql

WITH new_info AS (
  SELECT B.name, B.person_id FROM get_fit_now_check_in AS A
  JOIN get_fit_now_member AS B
  ON A.membership_id = B.id
  WHERE check_in_date = 20180109
  AND check_out_time >= 1530
  ORDER BY check_in_time DESC
)
SELECT * FROM interview AS A
RIGHT JOIN new_info AS B
ON A.person_id = B.person_id

,person_id,transcript,name,person_id_1
0,16371,"I saw the murder happen, and I recognized the killer from my gym when I was working out last we...",Annabel Miller,16371
1,67318,"I was hired by a woman with a lot of money. I don't know her name but I know she's around 5'5"" ...",Jeremy Bowers,67318
2,<NA>,None,Joe Germuska,28819

In [100]:
%%sql

SELECT * FROM get_fit_now_member
WHERE id LIKE '48Z%'

      id  person_id           name  membership_start_date membership_status
0  48Z38      49550  Tomas Baisley               20170203            silver
1  48Z7A      28819   Joe Germuska               20160305              gold
2  48Z55      67318  Jeremy Bowers               20160101              gold

In [152]:
%%sql

SELECT B.name, B.id, A.plate_number, A.car_make, A.car_model
FROM drivers_license AS A
JOIN person AS B
ON B.license_id = A.id
WHERE A.plate_number LIKE '%H42W%'
LIMIT 5

             name     id plate_number   car_make car_model
0  Tushar Chandra  51739       4H42WR     Nissan    Altima
1   Jeremy Bowers  67318       0H42W2  Chevrolet  Spark LS
2  Maxine Whitely  78193       H42W0X     Toyota     Prius

# This is for the real-villain

In [129]:
%%sql

SELECT DISTINCT person_id, COUNT(person_id) AS times_went FROM facebook_event_checkin
WHERE event_name = 'SQL Symphony Concert'
GROUP BY person_id
HAVING times_went = 3
ORDER BY times_went DESC

    person_id  times_went
0       28166           3
1       48201           3
2       49568           3
3       86843           3
4       46399           3
5       83144           3
6       93726           3
7       90171           3
8       58898           3
9       13296           3
10      99116           3
11      37213           3
12      24556           3
13      39020           3
14      19260           3
15      19292           3
16      92343           3
17      78181           3
18      17602           3
19      17884           3
20      99799           3
21      46634           3
22      81360           3
23      60708           3
24      99716           3

In [150]:
%%sql

WITH id_list AS (
  SELECT DISTINCT person_id FROM facebook_event_checkin
  WHERE event_name = 'SQL Symphony Concert'
  GROUP BY person_id
  HAVING COUNT(person_id) = 3
  ORDER BY COUNT(person_id) DESC
),
expanded_ppl_info AS (
  SELECT * FROM id_list AS A
  JOIN person AS B
  ON A.person_id = B.id
),
villain_info AS (
  SELECT A.person_id, A.name, B.car_make, B.car_model FROM expanded_ppl_info AS A
  JOIN drivers_license AS B
  ON A.license_id = B.id
  WHERE car_make = 'Tesla'
)
SELECT A.person_id, name, car_make, car_model, transcript FROM villain_info AS A
LEFT JOIN interview AS B
ON A.person_id = B.person_id

   person_id              name car_make car_model transcript
0      99716  Miranda Priestly    Tesla   Model S       None

___

## Solving the Mystery (and checking if you cracked the case!)

From here on out, you'll be using your skills and the clues in the Police Department database to find the killer. When you think you have found the killer, come back to this section and use the cell below to check your answer and see if you found the murderer:

ex:
```python
check_suspect("Adam Levine")
```

In [113]:
check_suspect("Jeremy Bowers")

Congrats, you found the murderer! But wait, there's more... If you think you're up for a challenge,try querying the interview transcript of the murderer to find the real villain behind this crime.If you feel especially confident in your SQL skills, try to complete this final step with no more than 2 queries.
Use this same `check_suspect` function with your new suspect to check your answer.

True

In [140]:
check_suspect("Miranda Priestly")

Congrats, you found the brains behind the murder!
Everyone in SQL City hails you as the greatest SQL detective of all time.
Time to break out the champagne!

True

---

## Workspace

Use the cells below to write your queries and work on solving the mystery. When you have a suspect, check your answer using the [cell above this one](#solving-the-mystery-and-checking-if-you-cracked-the-case) and running their name through the `check_suspect` function. If you find the murderer, the function will tell you.

Don't forget to use `%%sql` at the top of the `Code` cells you create in order to get your SQL queries to work. Good luck, sleuths!

In [20]:
%%sql

SELECT * from get_fit_now_check_in
LIMIT 5

  membership_id  check_in_date  check_in_time  check_out_time
0         NL318       20180212            329             365
1         NL318       20170811            469             920
2         NL318       20180429            506             554
3         NL318       20180128            124             759
4         NL318       20171027            418            1019